<div class="register-container">
    <h2>Registro de usuarios</h2>
<mat-card class="matcard">
  <form (submit)="onAddUser(userForm)" #userForm = "ngForm" class="custom-form" >
    <mat-form-field>
    <div class="register-input-group">
      <label for="nameInput">Nombre</label>
      <input 
      matInput 
      type="text"
      id="name"
      name="name" 
      ngModel
      required
      #title ="ngModel" class="register-form-field">
    </div>
  </mat-form-field>
  <mat-form-field>
    <div class="register-input-group">
      <label for="emailInput">Correo Electrónico</label>
      <input 
      matInput 
      type="email"
      id="email"
      name="email" 
      ngModel
      required
      #title ="ngModel" class="register-form-field">
    </div>
  </mat-form-field>
  <mat-form-field>
    <div class="register-input-group">
      <label for="passwordInput">Contraseña</label>
      <input 
      matInput 
      type="password"
      id="password"
      name="password" 
      ngModel
      required
      #title ="ngModel" class="register-form-field">
    </div>
  </mat-form-field>
  <mat-form-field>
    <div class="register-input-group">
      <label for="confirmPasswordInput">Confirmar Contraseña</label>
      <input 
      matInput 
      type="password"
      id="passwordC"
      name="passwordC" 
      ngModel
      required
      #title ="ngModel" class="register-form-field">
    </div>
  </mat-form-field>
    <button 
        mat-raised-button 
        color="primary" 
        type="submit" 
        class="align-right">Registrar</button>
        <div *ngIf="passwordMismatch">
          <p style="color: red">Las contraseñas no coinciden.</p>
      </div>
      <div *ngIf="showSuccessDialog">
          <p style="color: green">Usuario registrado correctamente</p>
      </div>
      
  </form>
  </mat-card>
  <app-admin></app-admin>
  </div>
