<div class="container">
    <h2>Para consultar tu contraseña ingresa tu correo</h2>
  
    <div class="input-group">
      <label for="usuarioInput">Correo</label>
      <mat-form-field class="example-form-field">
        <input id="usuarioInput" matInput type="text" [(ngModel)]="userValue">
        <button *ngIf="userValue" matSuffix mat-icon-button aria-label="Clear" (click)="userValue=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <button id="basic" type="button" (click)="onConsultarClick()">
      Consultar
    </button>
    <p>{{ message }}</p> 
    <p> <a routerLink="/principal" class="clickable-link">Regresar</a></p>
</div>
