<div class="container">
<mat-card class="custom-card">
  <mat-card-title class = "title">Registrate</mat-card-title>
  <form (submit)="onAddUser(userForm)" #userForm = "ngForm" class="custom-form" >
    <div class="form-group">
    <mat-form-field>
      <label for="nameInput">Nombre</label>
      <input 
      matInput 
      type="text"
      id="name"
      name="name" 
      ngModel
      required
      #title ="ngModel" >
  </mat-form-field>
</div>
<div class="form-group">
  <mat-form-field>
      <label for="emailInput">Correo Electrónico</label>
      <input 
      matInput 
      type="email"
      id="email"
      name="email" 
      ngModel
      required
      #title ="ngModel">
  </mat-form-field>
</div>
<div class="form-group">
  <mat-form-field>
      <label for="passwordInput">Contraseña</label>
      <input 
      matInput 
      type="password"
      id="password"
      name="password" 
      ngModel
      required
      #title ="ngModel">
  </mat-form-field>
</div>
<div class="form-group">
  <mat-form-field>
      <label for="confirmPasswordInput">Confirmar Contraseña</label>
      <input 
      matInput 
      type="password"
      id="passwordC"
      name="passwordC" 
      ngModel
      required
      #title ="ngModel">
  </mat-form-field>
</div>
    <button 
        mat-raised-button 
        color="primary" 
        type="submit" 
        class="align-right">Registrarse</button>
        <div *ngIf="passwordMismatch">
          <p style="color: red">Las contraseñas no coinciden.</p>
      </div>
      <button mat-button  (click)="onLogout()">Regresar</button>
      <div *ngIf="showSuccessDialog">
          <p style="color: green">Verfica tu cuenta a traves del correo electronico que te hemos enviado.</p>
      </div>
      
  </form>
  </mat-card>
  </div>
  