<div class="register-container">
    <h2>Regístrate</h2>
<mat-card class="matcard">
  <form (submit)="onAddUser(userForm)" #userForm = "ngForm" class="custom-form" >
    <mat-form-field>
    <div class="register-input-group">
      <label for="nameInput">Nombre</label>
      <input 
            matInput 
            type="text"
            id="name"
            name="name" 
            ngModel
            required
            placeholder="Nombre"
            #title ="ngModel" class="register-form-field">
    </div>
  </mat-form-field>
  <mat-form-field>
    <div class="register-input-group">
      <label for="emailInput">Correo Electrónico</label>
      <input 
      matInput 
      type="email"
      id="email"
      name="email" 
      ngModel
      required
      placeholder="Email"
      #title ="ngModel" class="register-form-field">
    </div>
  </mat-form-field>
  <mat-form-field>
    <div class="register-input-group">
      <label for="passwordInput">Contraseña</label>
      <input 
      matInput 
      type="password"
      id="password"
      name="password" 
      ngModel
      required
      placeholder="password"
      #title ="ngModel" class="register-form-field">
    </div>
  </mat-form-field>
  <mat-form-field>
    <div class="register-input-group">
      <label for="confirmPasswordInput">Confirmar Contraseña</label>
      <input 
      matInput 
      type="password"
      id="passwordC"
      name="passwordC" 
      ngModel
      required
      placeholder="passwordC"
      #title ="ngModel" class="register-form-field">
    </div>
  </mat-form-field>
    <button 
        mat-raised-button 
        color="primary" 
        type="submit" 
        class="align-right">Registrarse</button>
  </form>
  </mat-card>
  <p>¿Ya tienes una cuenta? <a class="clickable-link" (click)="onWantToLogin()">Iniciar sesión</a></p>
  </div>
  