.header{
    color: aliceblue;
    background-color: darkcyan;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 10;
}
.nav-item {
    margin-right: 10px;    
    display: inline-block;  
}

.nav-link {
    color: #fff;     
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.nav-link:hover {
    color:aquamarine
}
.logo {
    height: 200px; 
    width: auto;
}


.header {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 0 20px; }

.logo-container {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.icon-container {
    display: flex;
    align-items: center;
}

.navbar-nav {
    display: flex;
    gap: 20px; 
    list-style-type: none; 
    margin: 0;
    padding: 0; 
}

.nav-item {
    display: flex;
}

.nav-link {
    color: inherit; 
    text-decoration: none; 
    cursor: pointer;
}

.login-container {
    margin-left: auto; 
}
