<mat-toolbar class="header">
    <div class="logo-container">
<img src="./assets/img/log.png" alt="logo">
    </div>

    <div class="social-icons">
        <button mat-flat-button color="primary" *ngIf="!isOnMainPage" (click)="onLogout()">Salir</button>
        <a href="https://www.facebook.com/LaishaSotoL" target="_blank">
            <i class="fab fa-facebook-square fa-2x" *ngIf="!isIcon"></i>
        </a>
        <a href="https://www.instagram.com/laisha.soto18/?next=%2F" target="_blank">
            <i class="fab fa-instagram-square fa-2x" *ngIf="!isIcon"></i>
        </a>
    </div>
</mat-toolbar>
