.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: darkcyan; 
}

.logo-container img {
    max-width: 500px;
    height: auto;
}

.social-icons {
    display: flex;
    align-items: center;
}

.social-icons a {
    color:azure;
    margin: 0 10px;
    text-decoration: none;
}

.social-icons i {
    transition: color 0.3s ease;
}

.social-icons i:hover {
    color:aquamarine; 
}

button {
    background-color: transparent; 
    color: white !important; 
    border: none;
    padding: 10px 15px;
    text-transform: uppercase;
    cursor: pointer;
}

button{
    background-color: #e0e0e0; 
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        text-align: center;
    }

    .logo-container, .social-icons {
        margin-bottom: 10px;
    }

    .social-icons a {
        margin: 0 5px;
    }
}

@media (max-width: 480px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
        padding: 5px 10px;
    }

    .logo-container img {
        max-width: 200px; 
        height: auto;
    }

    .social-icons {
        flex-grow: 1;
        justify-content: flex-end;
    }

    .social-icons i {
        font-size: 1.5em; 
    }

    button.mat-button {
        padding: 5px 10px; 
        font-size: 0.8em; 
    }
}

