<h2 mat-dialog-title>Políticas de Privacidad</h2>
<mat-dialog-content class="mat-typography">
  <h3>Fecha de vigencia: Septiembre 2024</h3>
  <h3>Privacidad de Datos</h3>
  <p>En SmartBooking, valoramos y respetamos tu privacidad. Esta Política de Privacidad describe cómo recopilamos, utilizamos y protegemos la información personal que puedas proporcionarnos a través de nuestro sitio web.</p>
  <h3>Información que Recopilamos</h3>
  <p>- Cuando te registras en nuestro sitio web, podemos recopilar tu nombre, dirección de correo electrónico y otra información relevante.
    - Podemos recopilar información sobre tu uso de nuestro sitio web, incluyendo páginas visitadas, tiempo de visita y otra información de análisis.
    - Utilizamos cookies y tecnologías similares para recopilar información sobre tu actividad en línea y mejorar tu experiencia en nuestro sitio.</p>

  <h3>Uso de la Información</h3>

  <p>- Utilizamos la información que recopilamos para proporcionarte los servicios que ofrecemos en nuestro sitio web.
    - Podemos utilizar tu información para enviarte actualizaciones, noticias y promociones relacionadas con nuestros servicios.
    - No compartimos tu información personal con terceros sin tu consentimiento, excepto cuando sea necesario para proporcionarte nuestros servicios o cumplir con la ley.</p>

  <h3>Seguridad de la Información</h3>

  <p>Tomamos medidas para proteger la seguridad de tu información personal y garantizar su confidencialidad.</p>

  <h3>Términos de Uso</h3>

  <p>Al utilizar nuestro sitio web, aceptas cumplir con nuestros Términos de Uso. Te instamos a leer y comprender estos términos antes de utilizar nuestros servicios.</p>

  <p>Nos reservamos el derecho de modificar esta Política de Privacidad en cualquier momento. Las modificaciones entrarán en vigencia cuando se publiquen en nuestro sitio web.  </p>

  <p>Gracias por confiar en SmartBooking.</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Leido</button>
</mat-dialog-actions>
