.container {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 40px 60px;
  border-radius: 10px;
  width: 80%;
  text-align: center;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease;
  max-width: 400px;
}

h2 {
  margin-bottom: 20px;
  color: #333;
  font-weight: 600;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.input-group label {
  margin-bottom: 10px;
  font-weight: bold;
  color: #555;
}

.example-form-field {
  width: 100%;
}

#basic {
  width: 100%;
  background-color: #5A67D8;
  color: white;
  border: none;
  padding: 12px 0;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

#basic:hover {
  background-color: #434190;
  transform: translateY(-3px);
}

p {
  margin-top: 20px;
  color: #555;
}

.clickable-link {
  cursor: pointer;
}

/* Para tablets en modo retrato */
@media screen and (max-width: 768px) {
  .container {
    padding: 30px 40px; /* Reducción del padding */
    max-width: 350px; /* Tamaño máximo más pequeño */
  }

  h2 {
    font-size: 1.8rem; /* Reducción del tamaño del título */
  }

  #basic {
    padding: 10px 0; /* Reducción del padding del botón */
    font-size: 14px; /* Reducción del tamaño de fuente del botón */
  }
}

/* Para dispositivos móviles */
@media screen and (max-width: 480px) {
  .container {
    padding: 20px 30px; /* Reducción adicional del padding */
    max-width: 300px; /* Tamaño máximo aún más pequeño */
  }

  h2 {
    font-size: 1.6rem; /* Tamaño de fuente más pequeño para el título */
  }

  #basic {
    padding: 8px 0; /* Reducción del padding del botón */
    font-size: 13px; /* Tamaño de fuente más pequeño para el botón */
  }

  .input-group label {
    font-size: 14px; /* Tamaño de fuente más pequeño para las etiquetas */
  }
}
